body {
    background-color: grey;
    background-image: url('../images/woman-and-man-dancing-under-light-2188012.jpg');
    background-size: 100%;
    
    
}

.navbar-brand {
    font-family: 'Dancing Script', cursive;

}